<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="style.css" />
    </head>
    <title>Hacky Quacky</title>

    <body>
        <h2>Translation</h2>

        <div class="navBar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="translate.html">Translate</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    <!-- The code for the form -->
        <!-- <div class="duckNoise"> -->
            <form action = "/success" method = "post" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type = "submit" value="Upload">
            </form>
        <!-- </div> -->
        
        <div class="duckTranslation">
            <p>Translated duck: </p>
            <p>Quack quack ... upload a duck file and translated duck will appear here ... quack quack <span class="translate"></span></p>
        </div>
    </body>
</html>